<html lang="zh-CN">
 <head> 
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
  <meta charset="utf-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
  <meta name="keywords" content="磁力搜索,磁力链接,种子搜索网站,BT搜索,DHT搜索" /> 
  <meta name="description" content="磁力搜索(手撕包菜)是一个专业提供DHT磁力资源搜索和下载的网站，索引全网上千万BT种子的磁力链接来提供搜索，又被誉为BT种子搜索神器。也是国内最大的磁力链接的发现和分享社区。" /> 
  <title>手撕包菜 - 磁力搜索_收录最快的DHT搜索引擎</title> 
  <link href="static/st/bootstrap.css" rel="stylesheet" /> 
  <link rel="shortcut icon" type="image/x-icon" href="static/st/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="static/st/st.css" /> 
  <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]--> 
  <style type="text/css">.cf-hidden { display: none; } .cf-invisible { visibility: hidden; }</style>
  <link href="static/st/floatingPanel.css" type="text/css" rel="stylesheet" />
 </head> 
 <body> 
  <form class="x-sform" method="get" action="/"> 
   <nav class="navbar navbar-default " role="navigation"> 
    <div class="container"> 
     <div class="navbar-header"> 
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> 
      <a title="手撕包菜 收录最快的DHT搜索引擎" alt="shousibaocai" class="navbar-brand" href="http://www.shousibaocai.com/">手撕包菜</a> 
     </div> 
     <div class="navbar-collapse collapse"> 
      <ul class="nav navbar-nav"> 
       <li class="active"><a href="http://www.shousibaocai.com/">磁力搜索</a></li> 
      </ul> 
     </div> 
    </div> 
   </nav> 
  </form> 
  <form class="x-sform"> 
   <div class="container"> 
    <div class="div-search-box col-lg-offset-2 col-lg-8"> 
     <div class="logo"> 
      <img src="static/st/st.png" /> 
     </div> 
     <div> 
      <div class="input-group"> 
       <input placeholder="搜索电影、电视剧、明星、游戏..." autocomplete="off" class="form-control x-kw" name="s" type="text" />
       <ul class="typeahead dropdown-menu"></ul> 
       <span class="input-group-btn"> <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span> 磁力搜索</button> </span> 
      </div> 
     </div> 
     <div style="display: block;" class="good"> 
      <p> <a href="http://www.shousibaocai.com/list/%E5%A4%8D%E4%BB%87%E8%80%85%E8%81%94%E7%9B%9F2/">复仇者联盟2</a> &nbsp;&nbsp;&nbsp;&nbsp; <a href="http://www.shousibaocai.com/list/%E9%80%9F%E5%BA%A6%E4%B8%8E%E6%BF%80%E6%83%857/">速度与激情7</a> &nbsp;&nbsp;&nbsp;&nbsp; <a href="http://www.shousibaocai.com/list/%E7%8E%8B%E7%89%8C%E7%89%B9%E5%B7%A5/">王牌特工</a> &nbsp;&nbsp;&nbsp;&nbsp; <a href="http://www.shousibaocai.com/list/%E6%88%98%E7%8B%BC/">战狼</a> &nbsp;&nbsp;&nbsp;&nbsp; <a href="http://www.shousibaocai.com/list/%E5%B7%A6%E8%80%B3/">左耳</a> &nbsp;&nbsp;&nbsp;&nbsp; <a href="http://www.shousibaocai.com/list/%E5%92%B1%E4%BB%AC%E7%BB%93%E5%A9%9A%E5%90%A7/">咱们结婚吧</a> &nbsp;&nbsp;&nbsp;&nbsp; </p> 
      <p class="tips2"> <a href="http://jingyan.baidu.com/article/642c9d34c2bca2644a46f72b.html">磁力链接如何转换成种子？</a> </p> 
     </div> 
     <div class="div-ads-front" style="margin-top: 40px; text-align:center; margin-left: 0px;"> 
     </div> 
    </div> 
   </div> 
  </form> 
  <nav class="navbar navbar-default nav-foot" role="navigation"> 
   <div class="container"> 
    <div class=""> 
     <h5>关于手撕包菜</h5> 
     <p>手撕包菜是一个基于DHT协议的BT资源搜索引擎，所有资源来源于爬虫24小时从DHT网络自动抓取，所有排行数据由程序自动生成。我们不存储任何资源和种子文件，只索引种子meta信息并提供搜索服务。 </p>
     <h5>关于磁力链接</h5> 
     <p>磁力链接(<a href="http://en.wikipedia.org/wiki/Magnet_link">Magnet URI Scheme</a>)是一种新型的分享形式，每个链接对应一个BT种子文件。您可以通过软件下载磁力链接指向的资源，例如迅雷、BitComet、QQ旋风，也可以使用云点播服务在线观看影视资源，例如迅雷云播、百度云盘等。 </p>
    </div> 
    <div class="navbar-header"> 
     <div class="copyright">
       &copy; 2013 ~ 2015 www.shousibaocai.com 
     </div> 
    </div> 
   </div> 
  </nav> 
  <script src="static/st/jquery-1.js"></script> 
  <script src="static/st/bootstrap.js"></script> 
  <script src="static/st/bootstrap-typeahead.js"></script> 
  <script src="static/st/st.js"></script>  
 </body>
</html>